.Result {
    border-bottom: 1px solid;
    border-color: rgba(211, 211, 211, 0.835);
    list-style: none;
}

.highlightedResult {
    background-color: rgba(220, 220, 220, 0.445);
    cursor: pointer;
}

.title {
    font-weight: bold;
    font-size: 0.8em;
    padding: 10px 10px 0px 10px;
}

.property {
    font-weight: 600;
    font-size: 0.7em;
    padding: 0px 10px 0 10px;
    color: rgb(97, 97, 97);
    border-right: 1px solid rgb(97, 97, 97);
}

.propertyNoBorder {
    font-weight: 600;
    font-size: 0.7em;
    padding: 0px 10px 0 10px;
    color: rgb(97, 97, 97);
}